---
import MainLayout from "../layouts/MainLayout.astro";

const data = [
	{
		title: 'UI Hell',
		date: '2024-09-13',
		href: '/'
	},
	{
		title: 'Roman Empire',
		date: '2024-07-12',
		href: '/'
	},
	{
		title: 'JS in Production',
		date: '2024-05-03',
		href: '/'
	},
	{
		title: 'Story of OJ',
		date: '2023-03-23',
		href: '/'
	},
];

const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

const posts = data.map((post) => {
	const time = new Date(post.date);
	const month = months[time.getMonth()];
	const date = time.getDate();
	const year = time.getFullYear();
	post.date = `${month} ${date}, ${year}`

	return post;
});
---

<MainLayout title="Slava Zakharov">
	<div class="intro | flow | inner-wrapper">
		<h1 class="intro__main">I <span class="highlight">build</span> things in the internet and <span class="highlight">learn</span> along the way.</h1>
		<p class="intro__desc">Hi, my name is Slava. I'm a developer in love with the web, different tools, outdoors, and writting.</p>
		<p class="intro__desc">I'm constantly looking for ways to simplify everything around.</p>
	</div>

	<div class="content | switcher">
		<section class="inner-wrapper">
			<header class="caption">
				<h2 class="caption__title">
					Latest writing
				</h2>
			</header>
			<ul class="posts__list | flow" role="list">
				{posts.map(post => (
					<li class="post">
						<a href={post.href}>
							<h3 class="post__title">
								{post.title}
							</h3>
							<p class="post__date | text-narrow">{post.date}</p>
						</a>
					</li>
				))}
			</ul>
			<footer class="text-secondary">
				<a href="/writing">All writting →</a>
			</footer>
		</section>
		<div class="content__block | inner-wrapper">
			<div class="cta | switcher">
				<h2>Would like to work with me?</h2>
				<a href="mailto:me@slav.no" title="Email Me" role="button">Email Me</a>
			</div>
		</div>
	</div>
</MainLayout>

<style>
	.intro {
		padding-block: var(--space-3xl);
	}

	.intro__main {
		font-size-adjust: 0.6;
		line-height: 1.2;
	}
	
	.intro__desc {
		font-size: var(--size-step-2);
		text-wrap: pretty;
	}

	.caption__title {
		font-size: var(--size-step-1);
	}

	.posts__list {
		padding-block: var(--space-l);
	}
	.post {
		width: fit-content;
	}

	.post__title {
		font-weight: 400;
	}
	
	.post a {
		text-decoration: none;
	}

	.post a:hover .post__title {
		color: var(--clr-secondary);
	}

	section footer {
		font-family: var(--font-display);
	}
	
	.content > * {
		padding-block: var(--space-xl);
	}	
	
	.content {
		--switcher-vertical-alignment: stretch;	
	}

	.content.switcher {
		--gutter: 0;
	}

	@media (max-width: 67.5rem) {		
		.content > * + * {
			border-block-start: var(--stroke);
		}
	}
	
	@media (min-width: 67.5rem) {
		.content > * + * {
			border-inline-start: var(--stroke);
		}

		.content__block {
			display: grid;
			place-content: center;
		}
	}
	
	.cta {
		--gutter: var(--space-s);
		
		font-size: var(--size-step-1);
		padding: var(--space-l);
		background-color: var(--clr-light-glare);
		width: fit-content;
	}
</style>